<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sistema/layout::head(pageTitle='Liberty-se - Dashboard')">
</head>
<link th:href=@{/assets/plugins/jquery.steps-1.1.0/jquery.steps.css} rel="stylesheet"/>
<link th:href=@{/assets/plugins/select2/css/select2.css} rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href=@{https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css}/>
<style>
    .wizard > .content > .body {
        float: left;
        position: relative;
        width: 95%;
        height: 95%;
        padding: 2.5%;
    }

    input[type="range"]{
        -webkit-appearance: none;
        -moz-apperance: none;
        border-radius: 6px;
        height: 6px;
        background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(0.15, #94A14E),
                color-stop(0.15, #C5C5C5)
        );
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        background-color: #E9E9E9;
        border: 1px solid #CECECE;
        height: 15px;
        width: 15px;
    }

</style>
<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<div class="mobile-sticky-body-overlay"></div>
<div class="wrapper">
    <aside class="left-sidebar bg-sidebar" th:replace="fragments/sistema/layout::menu"></aside>

    <div class="page-wrapper">
       <header class="main-header " id="header"
               th:replace="fragments/sistema/layout::header(usuario='Marcus', email='mpsdantas15@gmail.com')"></header>

		<div class="content-wrapper">
        	<div class="content">	
        <!--CONTEUDO DA PÁGINA-->
        <div class="row">
            <div class="col-12">
                <div class="card card-table-border-none" id="recent-orders">
                    <br><br>
                    <div class="row">
                        <div class="offset-lg-1 col-lg-10">
                            <div class="card card-default">
                                <div class="card-header card-header-border-bottom">
                                    <div class="col-lg-8" id="tituloCard">

                                    </div>
                                    <div class="col-lg-4">
                                        <br>
                                        <div class="progress mb-3">
                                            <div class="progress-bar" role="progressbar" id="progress"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="state0">
                                        <div th:each="seguradora,iter : ${seguradoras}" class="col-md-6 col-xl-4" style="cursor: pointer;">
                                            <div class="card py-3 mb-4">
                                                <div class="card-body">
                                                    <div class="offset-lg-1 col-lg-10">
                                                        <label class="image-checkbox">
                                                            <img class="img-fluid" th:src="${seguradora.urlFoto}"/>
                                                            <input type="checkbox" name="image[]" th:value="${seguradora.id}+','+${seguradora.urlFoto}" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="state1">
                                        <div id="seguradaoraSelecionada">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-6">
                                            <button class="btn btn-danger btn-block btn-sm" type="button" id="btnVolta">Voltar</button>
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="btn btn-liberty btn-block btn-sm" type="button" id="btnProximo">Próximo</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
		    </div>
		</div>
                    <div class="card-header justify-content-between">
                      <h3>Resultado da Consulta de Cotação</h3>
                    </div>
                    <div class="card-body pt-0 pb-5">
                      <div class="table-responsive">
                      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                          <tr>
                            <th class="text-dark">Seguradora</th>
                            <th class="text-dark">Comissão</th>
                            <th class="text-dark d-none d-md-table-cell">Valor</th>
                            <th class="text-dark">Status</th>
                            <th>Coberturas</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >Liberty Seguros</td>
                            <td>
                            <div class="col-sm-6 my-1">
		                            	<input value="15%" type="text" class="form-control form-control-sm" aria-label="Porcentagem da comissão">
							</div>
                            <td class="text-dark">R$ 25.000,00</td>
                            <td >
                              <span class="badge badge-success">Mais popular</span>
                            </td>
                            <td><p>
                            DC: R$ 21.000,00<br/>
                            DM: R$ 31.000,00
                            </p>
                            </td>
                            <td class="text-right">
                              <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                  <li class="dropdown-item">
                                    <a href="#">View</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Remove</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          
                          <tr>
                            <td >Azul Seguros</td>
                            <td>
                            <div class="col-sm-6 my-1">
		                            	<input value="20%" type="text" class="form-control form-control-sm" aria-label="Porcentagem da comissão">
							</div>
                            <td class="text-dark">R$ 44.000,00</td>
                            <td >
                              <span class="badge badge-warning">Alto</span>
                            </td>
                            <td><p>
                            DC: R$ 35.000,00<br/>
                            DM: R$ 47.000,00
                            </p>
                            </td>
                            <td class="text-right">
                              <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                  <li class="dropdown-item">
                                    <a href="#">View</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Remove</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          
                          <tr>
                            <td >Caixa</td>
                            <td>
                            <div class="col-sm-6 my-1">
		                            	<input value="17%" type="text" class="form-control form-control-sm" aria-label="Porcentagem da comissão">
							</div>
                            <td class="text-dark">R$ 32.000,00</td>
                            <td >
                              <span class="badge badge-secondary">Regular</span>
                            </td>
                            <td><p>
                            DC: R$ 27.000,00<br/>
                            DM: R$ 33.000,00
                            </p>
                            </td>
                            <td class="text-right">
                              <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                  <li class="dropdown-item">
                                    <a href="#">View</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Remove</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          
                          <tr>
                            <td >Itaú Seguros</td>
                            <td>
                            <div class="col-sm-6 my-1">
		                            	<input value="21%" type="text" class="form-control form-control-sm" aria-label="Porcentagem da comissão">
							</div>
                            <td class="text-dark">R$ 50.000,00</td>
                            <td >
                              <span class="badge badge-danger">Muito Alto</span>
                            </td>
                            <td><p>
                            DC: R$ 48.000,00<br/>
                            DM: R$ 56.000,00
                            </p>
                            </td>
                            <td class="text-right">
                              <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                  <li class="dropdown-item">
                                    <a href="#">View</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Remove</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
              </div>
         </div>
                
        <!--CONTEUDO DA PÁGINA-->
        <footer class="footer mt-auto" th:replace="fragments/sistema/layout::footer">
        </footer>
        <div th:replace="fragments/sistema/layout::scripts">
        </div>
        <script th:src=@{/assets/plugins/jquery.steps-1.1.0/jquery.steps.min.js}></script>
        <script th:src=@{/assets/plugins/select2/js/select2.full.js}></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script>
            var picker = $('input[name*=Vigencia]').daterangepicker({
                format: 'dd/mm/yyyy',
                dateFormat: 'dd/mm/yyyy'
            });
            var state = 0;
            var listaSeguradora = [];
            var states = [
                {
                    titulo: '1º Passo: Selecione as seguradoras para cotação',
                    styleWizard: {width: "0%", "aria-valuenow":"25", "aria-valuemin":"0", "aria-valuemax":"100"},
                    wizardAppend: '0%'
                },
                {
                    titulo: '2º Passo: Selecione a sua margem',
                    styleWizard: {width: "25%", "aria-valuenow":"25", "aria-valuemin":"0", "aria-valuemax":"100"},
                    wizardAppend: '25%'
                }
            ];

            function setarEstado(numero) {
                var dadoEstado = states[numero];
                $('#tituloCard').empty();
                $('#progress').empty();

                $('#tituloCard').append("<h2>" + dadoEstado.titulo + "</h2>");
                $('#progress').css(dadoEstado.styleWizard);
                $('#progress').append(dadoEstado.wizardAppend);

                if(numero==0){
                    $('#btnVolta').hide();
                }else{
                    $('#btnVolta').show();
                }

            }
            $(document).ready(function () {
                $('#state1').hide();
                setarEstado(state);
                $('#btnProximo').click(function () {
                    if(state==0){
                        listaSeguradora = $("input[name='image[]']:checked").map(function () {
                            return {
                                idSeguradora: this.value.split(',')[0],
                                urlFoto: this.value.split(',')[1]
                            }

                        }).get();
                        console.log(listaSeguradora)

                        var html = '';

                        listaSeguradora.forEach(dado => {
                            html += `
                                <div class="row">
                                    <div class="offset-lg-1 col-lg-3"><img src="${dado.urlFoto}" class="img-fluid"></div>
                                    <div class="offset-lg-3 col-lg-5"></div>
                                    <hr>
                                </div>
                            `;
                        });
                        $('#state0').hide();
                        $('#state1').show();
                        $('#seguradaoraSelecionada').empty();
                        $('#seguradaoraSelecionada').append(html);
                        state++;
                        setarEstado(state);
                    }
                });

                $(".image-checkbox").each(function () {
                    if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                        $(this).addClass('image-checkbox-checked');
                        console.log($(this))
                    }
                    else {
                        $(this).removeClass('image-checkbox-checked');
                    }
                });

                $(".image-checkbox").on("click", function (e) {
                    $(this).toggleClass('image-checkbox-checked');
                    var $checkbox = $(this).find('input[type="checkbox"]');
                    $checkbox.prop("checked",!$checkbox.prop("checked"));
                    e.preventDefault();
                });

                var form = $("#wizard")
                form.children("div").steps({
                    headerTag: "h3",
                    bodyTag: "section",
                    transitionEffect: "slideLeft",
                    onStepChanging: function (event, currentIndex, newIndex) {
                        //form.validate().settings.ignore = ":disabled,:hidden"

                        if (currentIndex === 1 )
                            return $("#ramo").val() != 1;
                        return true;

                    },
                    onFinishing: function (event, currentIndex) {
                        //form.validate().settings.ignore = ":disabled";
                        return true;
                    },
                    onFinished: function (event, currentIndex) {
                    	$('#resultado-cotacoes').css('display', 'flex');
                    	$([document.documentElement, document.body]).animate({
                            scrollTop: $("#resultado-cotacoes").offset().top
                        }, 1000);
                        //$('#wizard').submit()
                    },
                    labels: {
                        current: "current step:",
                        pagination: "Paginação",
                        finish: "Cálcular",
                        next: "Próximo",
                        previous: "Anterior",
                        loading: "Carregando ..."
                    }
                });
                var ramos = ['saude', 'vida', 'patrimonial', 'automovel'];
                $('#ramo').on('change', function () {
                    var selected = $(this).val()
                    //exibe campos do ramo selecionado
                    if (selected !== 1) {
                        ramos.forEach(function (value) {
                            if (value !== selected)
                                $('.' + value).hide();
                            else
                                $('.' + value).show();
                        })
                    }
                })


                $('input[name^=comissoes]').change(function () {
                    $('input[name^=comissoes]').map(function(idx, elem) {
                        var text = $(elem).val() + "%";
                        $(elem).closest('div').find('div').text(text);
                    });


                    $('input[name^=comissoes]').map(function(idx, elem) {

                        var val = ($(elem).val() - 1)/ 99.0;
                        $(elem).css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val + ', #94A14E), '
                            + 'color-stop(' + val + ', #C5C5C5)'
                            + ')'
                        );
                    });


                });
            });


        </script>
    </div>
</div>
</body>
</html>
