<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sistema/layout::head(pageTitle='Liberty-se - Dashboard')">
</head>
<link th:href=@{/assets/plugins/jquery.steps-1.1.0/jquery.steps.css} rel="stylesheet"/>
<link th:href=@{/assets/plugins/select2/css/select2.css} rel="stylesheet"/>
<style>
  .wizard > .content > .body {
    float: left;
    position: relative;
    width: 95%;
    height: 95%;
    padding: 2.5%;
  }
</style>
<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<div class="mobile-sticky-body-overlay"></div>
<div class="wrapper">
  <aside class="left-sidebar bg-sidebar" th:replace="fragments/sistema/layout::menu"></aside>

  <div class="page-wrapper">
    <header class="main-header " id="header"
            th:replace="fragments/sistema/layout::header(usuario='Marcus', email='mpsdantas15@gmail.com')"></header>

    <!--CONTEUDO DA PÁGINA-->
    <div class="row">
      <div class="col-12">
        <div class="card card-table-border-none" id="recent-orders">
          <div class="card-header justify-content-between">
            <h1>Cotação</h1>
          </div>
          <div class="card-body pt-0 pb-5">
            <div class="card-body">
              <form id="wizard" action="#">
                <div>
                  <h3>Segurado</h3>
                  <section>
                    <label class="text-dark font-weight-medium" for="">Nome</label>
                    <div class="form-group">
                      <select name="client" id="client" class="form-control select2">
                        <option th:value="1" >Cliente 1</option>
                        <option th:value="2" selected>Cliente 2</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="ramo">Ramo</label>
                      <select class="form-control" id="ramo">
                        <option value="1"> Nenhum</option>
                        <option value="automovel">AUTOMÓVEL</option>
                        <option value="patrimonio">PATRIMONIAL - RESIDENCIAL</option>
                        <option value="vida">VIDA INDIVIDUAL</option>
                        <option value="saude">SAÚDE</option>
                      </select>
                    </div>

                    <h4>Corretor</h4>
                    <div class="form-group">
                      <label for="comissao">Comissao</label>
                      <input th:type="number" name="comissao" class="form-control" id="comissao" data-mask="9%">
                    </div>
                  </section>
                  <h3>Orçamento</h3>
                  <section>
                    <div th:replace="cotacao/seguros/automovel"></div>
                    <div th:replace="cotacao/seguros/patrimonial"></div>
                    <div th:replace="cotacao/seguros/vida"></div>
                    <div th:replace="cotacao/seguros/saude"></div>

                  </section>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CONTEUDO DA PÁGINA-->
    <footer class="footer mt-auto" th:replace="fragments/sistema/layout::footer">
    </footer>
    <div th:replace="fragments/sistema/layout::scripts">
    </div>
    <script th:src=@{/assets/plugins/jquery.steps-1.1.0/jquery.steps.min.js}></script>
    <script th:src=@{/assets/plugins/select2/js/select2.full.js}></script>
    <script>
      $(document).ready(function () {
        var form = $("#wizard")
        form.children("div").steps({
          headerTag: "h3",
          bodyTag: "section",
          transitionEffect: "slideLeft",
          onStepChanging: function (event, currentIndex, newIndex)
          {
            //form.validate().settings.ignore = ":disabled,:hidden";
            return $('#ramo').val() != 1;

          },
          onFinishing: function (event, currentIndex)
          {
            //form.validate().settings.ignore = ":disabled";
            return true;
          },
          onFinished: function (event, currentIndex)
          {
            alert("Submitted!");
          },
          labels: {
            current: "current step:",
            pagination: "Paginação",
            finish: "Finalizar",
            next: "Próximo",
            previous: "Anterior",
            loading: "Carregando ..."
          }
        });
        var ramos = ['saude','vida','patrimonial', 'automovel'];
        $('#ramo').on('change', function () {
          var selected = $(this).val()
          //exibe campos do ramo selecionado
          if(selected !== 1){
            ramos.forEach(function (value) {
              if(value !== selected)
                $('.'+value).hide();
              else
                $('.'+value).show();
            })
          }
        })
      })

    </script>
  </div>
</div>
</body>
</html>
