<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/sistema/layout::head(pageTitle='Liberty-se - Dashboard')">
    </head>

    <body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
        <div class="mobile-sticky-body-overlay"></div>
        <div class="wrapper">
            <aside class="left-sidebar bg-sidebar"  th:replace="fragments/sistema/layout::menu"></aside>

            <div class="page-wrapper">
                <header class="main-header " id="header" th:replace="fragments/sistema/layout::header(usuario='Marcus', email='mpsdantas15@gmail.com')"></header>
                <!--CONTEUDO DA PÁGINA-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-table-border-none" id="recent-orders">
                            <div class="card-header justify-content-between">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="widget-block rounded bg-white  d-flex">
                                            <div class="widget-info align-self-center w-50">
                                                <h3 class="text-dark mb-2">400</h3>
                                                <p>Clientes cadastrados</p>
                                            </div>
                                            <div class="widget-chart w-50"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="gline1" width="298" height="70" class="chartjs-render-monitor" style="display: block; width: 298px; height: 70px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="widget-block rounded bg-white  d-flex">
                                            <div class="widget-info align-self-center w-50">
                                                <h3 class="text-dark mb-2">R$1232</h3>
                                                <p>Fluxo do caixa</p>
                                            </div>
                                            <div class="widget-chart w-50"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="barChart1" width="298" height="70" class="chartjs-render-monitor" style="display: block; width: 298px; height: 70px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="widget-block rounded bg-white  d-flex">
                                            <div class="widget-info align-self-center w-50">
                                                <h3 class="text-dark mb-2"><span th:text="${qntdSeguradoras}"></span></h3>
                                                <p>Seguradoras</p>
                                            </div>
                                            <div class="widget-chart w-50"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="linechart1" width="298" height="70" class="chartjs-render-monitor" style="display: block; width: 298px; height: 70px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="widget-block rounded bg-white  d-flex">
                                            <div class="widget-info align-self-center w-50">
                                                <h3 class="text-dark mb-2">15</h3>
                                                <p>Seguros fechados</p>
                                            </div>
                                            <div class="widget-chart w-50"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="areaChart1" width="298" height="70" class="chartjs-render-monitor" style="display: block; width: 298px; height: 70px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card card-default" data-scroll-height="675" style="height: 675px; overflow: hidden;">
                                            <div class="card-header">
                                                <center>
                                                    <h2>Vendas de seguros no ano</h2>
                                                </center>
                                            </div>
                                            <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="linechart" class="chartjs chartjs-render-monitor" width="718" height="434" style="display: block; width: 718px; height: 434px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card card-default" data-scroll-height="675">
                                            <div class="card-header justify-content-center">
                                                <h2>Tipos de seguro</h2>
                                            </div>
                                            <div class="card-body" >
                                                <canvas id="doChart" ></canvas>
                                            </div>
                                            <a href="#" class="pb-5 d-block text-center text-muted"><i class="mdi mdi-download mr-2"></i> Download do relatóro completo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CONTEUDO DA PÁGINA-->
                <footer class="footer mt-auto" th:replace="fragments/sistema/layout::footer"></footer>
                <div th:replace="fragments/sistema/layout::scripts"></div>
            </div>
        </div>
    </body>
</html>
