<div class="seguradoras">
	<div class="table-responsive">
      <table class="table card-table table-responsive table-responsive-large"
             style="width:100%">
          <thead>
          <tr>
              <th>Selecionar</th>
              <th>Seguradora</th>
              <th>Comissão</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><input type="checkbox"></td>
              <td>
                  <a class="text-dark" href="">Liberty Seguros</a>
              </td>
              <td class="d-none d-md-table-cell">15%</td>
          </tr>
       </tbody>
    </table>
  </div>
</div>