<div class="seguradoras">
	<div class="table-responsive">
      <table class="table card-table table-responsive table-responsive-large"
             style="width:100%">
          <thead>
          <tr>
              <th>Selecionar</th>
              <th>Seguradora</th>
              <th>Comissão</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><input type="checkbox" value="1" name="seguradora[0]"></td>
              <td>
                  <a class="text-dark" href="">Liberty Seguros</a>
              </td>
              <td class="d-none d-md-table-cell">
                  <div class="form-group">
                      <input type="range" id="myRange1" name="comissoes[0]" value="15" max="100">
                      <div id="rangeValue1">15%</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td><input type="checkbox" name="seguradora[1]" value="2"></td>
              <td>
                  <a class="text-dark" href="">HDI Seguros</a>
              </td>
              <td class="d-none d-md-table-cell">
                  <div class="form-group">
                      <input type="range" id="myRange" value="15" name="comissoes[1]" max="100">
                      <div id="rangeValue">15%</div>
                  </div>
              </td>
          </tr>
       </tbody>
    </table>
  </div>
</div>