<div class="seguradoras" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:h="http://www.w3.org/1999/xhtml">
	<div class="table-responsive">
      <table class="table card-table table-responsive table-responsive-large"
             style="width:100%">
          <thead>
          <tr>
              <th>Selecionar</th>
              <th>Seguradora</th>
              <th>Comissão</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="seguradora,iter : ${seguradoras}">
              <td align="center"><input type="checkbox" th:value="${seguradora.id}" th:name="${'seguradoras['+iter.index+']'}"></td>
              <td>
                  <img style="max-width: 70px" th:src="${seguradora.urlFoto}">
                  <a class="text-dark" href="" th:text="${seguradora.nome}">Liberty Seguros</a>
              </td>
              <td class="d-none d-md-table-cell">
                  <div class="form-group">
                      <input type="range" th:id="${'myRange'+iter.index}" th:name="${'comissoes['+iter.index
                      +']'}" value="15" max="100">
                      <div th:id="${'rangeValue'+iter.index}">15%</div>
                  </div>
              </td>
          </tr>
       </tbody>
    </table>
  </div>
</div>