<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sistema/layout::head(pageTitle='Liberty-se - Dashboard')">
</head>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<div class="mobile-sticky-body-overlay"></div>
<div class="wrapper">
    <aside class="left-sidebar bg-sidebar"  th:replace="fragments/sistema/layout::menu"></aside>

    <div class="page-wrapper">
        <header class="main-header " id="header" th:replace="fragments/sistema/layout::header(usuario='Marcus', email='mpsdantas15@gmail.com')"></header>
        <!--CONTEUDO DA PÁGINA-->
        <div class="col-lg-12">
            <div class="card card-default">

                <div class="card-header justify-content-between">
                    <h2>Segurados</h2>
                    <div>
                        <a href="/cliente/create" type="button" class="mb-1 btn btn-success"><span><i class="mdi mdi-plus"></i></span></a>
                    </div>
                </div>

                <div class="card-body">
                   <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Excluir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${clients}">
                            <td th:text="${client.code}"scope="row">1</td>
                            <td th:text="${client.name}">Hayes Frederick</td>
                            <td th:text="${client.email}">magna@nuncQuisque.edu</td>
                            <td th:text="${client.phone}">(91) 99375-9080</td>
                            <td th:text="${client.cpf}">356.720.852-16</td>
                            <td>
                                <a type="button" class="mb-1 btn btn-primary" th:href="${'/cliente/editar/' + client.code }" >
                                    <i class="mdi mdi-account-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a type="button" class="mb-1 btn btn-danger" th:href="${'/cliente/deletar/' + client.code }" >
                                    <i class="mdi mdi-account-remove"></i>
                                </a>
                            </td>

                        </tr>

                        </tbody>
                   </table>
                </div>
            </div>
        </div>


        <!--CONTEUDO DA PÁGINA-->
        <footer class="footer mt-auto" th:replace="fragments/sistema/layout::footer"></footer>
        <div th:replace="fragments/sistema/layout::scripts"></div>
    </div>
</div>
</body>
</html>
