<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sistema/layout::head(pageTitle='Liberty-se - Dashboard')">
</head>
<style>
  input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.15, #94A14E),
            color-stop(0.15, #C5C5C5)
    );
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
  }
</style>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<div class="mobile-sticky-body-overlay"></div>
<div class="wrapper">
    <aside class="left-sidebar bg-sidebar"  th:replace="fragments/sistema/layout::menu"></aside>

    <div class="page-wrapper">
        <header class="main-header " id="header" th:replace="fragments/sistema/layout::header(usuario='Marcus', email='mpsdantas15@gmail.com')"></header>
        <!--CONTEUDO DA PÁGINA-->
        <div class="content-wrapper">
          <div class="content">							
            <div class="breadcrumb-wrapper">
                
              <div class="row">
                <div class="col-md-8">
                  <nav class="pull-left" aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                      <li class="breadcrumb-item">
                        <a href="index.html">
                          <span class="mdi mdi-home"></span>                
                        </a>
                      </li>
                      <li class="breadcrumb-item">
                        orçamento
                      </li>
                      <li class="breadcrumb-item" aria-current="page">listar</li>
                    </ol>
                  </nav>
                </div>
                <div class="col-md-4">
                    <div>
                      <h6 class="text-uppercase">
                        Meta de Faturamento <span class="float-right">40%</span>
                      </h6>
                      <div class="progress progress-xs">
                        <div
                          class="progress-bar active"
                          style="width: 40%;"
                          role="progressbar"
                        ></div>
                      </div>
                    </div>
                </div>

             </div>

              <div class="row">
                    <div class="col-12">
                  <!-- Recent Order Table -->
                  <div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                      <h2>Orçamento</h2>
                      <div>
                      	  <a th:href="@{/vendas/cadastrar}" type="button" class="mb-1 btn btn-success"><span><i class="mdi mdi-plus"></i></span></a>
                      </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                      <div class="table-responsive">
                      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                       	 <tr>
                            <th>ID Venda</th>
                            <th>Cliente</th>
                            <th>Seguradora</th>
                            <th>Ramo</th>
                            <th class="d-none d-md-table-cell">Data</th>
                            <th class="d-none d-md-table-cell">Valor</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="orcamento : ${orcamentos}">
                            <td th:text="${orcamento.id}"></td>
                            <td >
                              <a class="text-dark" href="" th:text="${orcamento.cliente}"> </a>
                            </td>
                            <td th:text="${orcamento.seguradora}"></td>
                            <td th:if="${orcamento.ramo == '50'}">AUTOMÓVEL</td>
                            <td th:if="${orcamento.ramo == '16'}">PATRIMONIAL - RESIDENCIAL</td>
                            <td th:if="${orcamento.ramo == '53'}">VIDA INDIVIDUAL</td>
                            <td th:if="${orcamento.ramo == '47'}">SAÚDE</td>
                            <td th:text="${orcamento.data_criacao}"></td>
                            <td th:text="${'R$'+orcamento.valor} " class="d-none d-md-table-cell"></td>
                            <td >
                              <span th:if="${orcamento.status == 'aceito'}" class="badge badge-success">Aceito</span>
                              <span th:if="${orcamento.status == 'aguardando_resposta'}" class="badge badge-danger">Aguardando resposta</span>
                              <span th:if="${orcamento.status == 'em_andamento'}" class="badge badge-warning">Em andamento</span>
                            </td>
                            <td class="text-right">
                              <div class="dropdown show d-inline-block widget-dropdown" data-toggle="modal" data-target="#exampleModal">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                  <li class="dropdown-item">
                                    <a href="#">View</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Remove</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
				</div>
			</div>

              <!--modal-->
              <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Atualizar orçamento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="myRange">Comissão</label>
                      <br/>
                      <div class="form-group">
                        <input type="range" id="myRange" value="15" max="100">
                        <div id="rangeValue">15%</div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Observaçao</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-pill">Salvar</button>
                      <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--modal-->
		</div>
          </div>
        </div>
        <!--CONTEUDO DA PÁGINA-->
        <footer class="footer mt-auto" th:replace="fragments/sistema/layout::footer"></footer>
        <div th:replace="fragments/sistema/layout::scripts"></div>
      <script>
        $('#myRange').mousemove(function(){
          $('#rangeValue').text($('#myRange').val()+"%");
        });
        $('#myRange').change(function () {
          var val = ($('#myRange').val() - 1)/ 99.0;

          $(this).css('background-image',
                  '-webkit-gradient(linear, left top, right top, '
                  + 'color-stop(' + val + ', #94A14E), '
                  + 'color-stop(' + val + ', #C5C5C5)'
                  + ')'
          );
        });
      </script>
    </div>
</div>
</body>
</html>
