<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/autenticacao/layout::head(pageTitle='Liberty-se - Cadastro de Indicação<')">
</head>

<body class="bg-light-gray" id="body">
<div>
    <div class="row justify-content-center mt-5">
        <div class="col-xl-10 col-lg-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="app-brand">
                        <center>
                            <img th:src=@{/assets/img/logo3.png} width="200px" />
                        </center>
                    </div>
                </div>
                <div class="card-body p-5">
                    <form id="form">
                        <center>
                            <h2 style="text-transform: uppercase; color: #181243;">Indicação</h2>
                        </center>
                        <br/>
                        <input type="text" id="idCliente" th:value="${id}" hidden="true">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="text-dark font-weight-medium">Nome</label>
                                <input type="name" class="form-control" placeholder="José da Silva" id="nome">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-dark font-weight-medium">E-mail</label>
                                <input type="email" class="form-control" placeholder="libertyse@libertyse.com" id="email" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-dark font-weight-medium">Contato</label>
                                <input type="phone" class="form-control" placeholder="(xx) xxxxx-xxxx" id="numero" required>
                            </div>
                            <hr>
                        </div>
                        <center>
                            <div class="col-md-4">
                                <button
                                        type="submit"
                                        class="btn btn-lg btn-liberty btn-block mb-4"

                                >
                                    Cadastrar Indicação
                                </button>

                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright pl-0">
        <p class="text-center">
            &copy; 2018 - O Liberty-se. I <span style="color:brown">❤</span>
            <a href="https://github.com/">Open Source.</a>
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script th:src=@{/assets/plugins/jquery/jquery.min.js}></script>
<script>
    $( document ).ready(function() {

        $('#form').submit(function (e) {
            e.preventDefault();
            let email = $('#email').val();
            let nome = $('#nome').val();
            let idCliente = $('#idCliente').val();
            let telefone = $('#numero').val();

            let data = {
                email: email,
                name: nome,
                phone: telefone
            }
            $.ajax({
                url: '/indicacao/usuario/'+idCliente,
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    Swal.fire(
                        'Sucesso!',
                        'O usuário foi indicado com sucesso.',
                        'success'
                    ).then(function (value) {
                        window.location.reload()
                    })
                }
            });
        })




    });

</script>
</body>
</html>
