<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/autenticacao/layout::head(pageTitle='Liberty-se - Realize seu login agora<')">
    </head>

    <body class="bg-light-gray" id="body">
        <div>
            <div class="row justify-content-center mt-5">
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <div class="app-brand">
                                <center>
                                    <img th:src=@{/assets/img/logo3.png} width="200px">
                                </center>
                            </div>
                        </div>
                        <div class="card-body p-5">
                            <h4 class="text-dark mb-5">Entrar agora</h4>
                            <form action="/index.html">
                                <div class="row">
                                    <div class="form-group col-md-12 mb-4">
                                        <input
                                                type="email"
                                                class="form-control input-lg"
                                                id="email"
                                                aria-describedby="emailHelp"
                                                placeholder="E-mail"
                                        />
                                    </div>
                                    <div class="form-group col-md-12 ">
                                        <input
                                                type="password"
                                                class="form-control input-lg"
                                                id="password"
                                                placeholder="Senha"
                                        />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-flex my-2 justify-content-between">
                                            <div class="d-inline-block mr-3">
                                                <label class="control control-checkbox"
                                                >Lembrar-me
                                                    <input type="checkbox"/>
                                                    <div class="control-indicator"></div>
                                                </label>
                                            </div>
                                            <p>
                                                <a class="text-blue" href="#">Esqueceu sua senha?</a>
                                            </p>
                                        </div>
                                        <button
                                                type="submit"
                                                class="btn btn-lg btn-liberty btn-block mb-4"
                                        >
                                            Entrar
                                        </button>
                                        <p>
                                            Não tem conta?
                                            <a class="text-blue" href="/autenticacao/cadastro">Cadastrar-se</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright pl-0">
                <p class="text-center">
                    &copy; 2018 - O Liberty-se. I <span style="color:brown">❤</span> <a href="https://github.com/">Open
                    Source.</a>
                </p>
            </div>

        </div>

    </body>
</html>
