<div class="automovel">

<h4>Veículo</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" name="placa" class="form-control" id="placa">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="chassi">Chassi</label>
                <input type="text" name="chassi" class="form-control" id="chassi">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" name="marca" class="form-control" id="marca">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ano_modelo">Ano do modelo</label>
                <input type="number" name="ano_modelo" class="form-control" id="ano_modelo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="tipo_combustivel">Tipo do combustível</label>
                <select name="tipo_combustivel" id="tipo_combustivel" class="form-control">
                    <option value="1">Álcool</option>
                    <option value="2">Diesel</option>
                    <option value="3">Flex</option>
                    <option value="4">Gasolina</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="tipo_veiculo">Tipo do veículo</label>
                    <select name="tipo_veiculo" id="tipo_veiculo" class="form-control">
                    <option value="1">Privado</option>
                    <option value="2">Escolar</option>
                    <option value="3">Auto escola</option>
                    <option value="4">Locadoras</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="marca">Zero KM</label>
                <ul class="list-unstyled list-inline">
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Sim
                            <input type="radio" name="zero_km" checked="checked">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Não
                            <input type="radio" name="zero_km">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="blindado">acidente?</label>
                <ul class="list-unstyled list-inline" id="blindado">
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Sim
                            <input type="radio" name="acidente" checked="checked">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Não
                            <input type="radio" name="acidente">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="blindado">Veículo blindado</label>
                <ul class="list-unstyled list-inline" id="blindado">
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Sim
                            <input type="radio" name="blindado" checked="checked">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                    <li class="d-inline-block mr-3">
                        <label class="control control-radio">Não
                            <input type="radio" name="blindado">
                            <div class="control-indicator"></div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>